@model List<Puchary>

@{
    ViewBag.Title = "Puchary";
}

<h2>Puchary</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayFor(model => model[0].n)</th>
            <th>@Html.DisplayFor(model => model[0].m)</th>
            <th>@Html.DisplayFor(model => model[0].r)</th>
        </tr>
    </thead>
    <tbody>
    @for (int i = 1; i < Model.Count; i++) {
        <tr>
            <td>@Html.DisplayFor(model => Model[i].Nazwa_Turnieju)</td>
            <td>@Html.DisplayFor(model => Model[i].Miejsce)</td>
            <td>@Html.DisplayFor(model => Model[i].Rok_zdobycia)</td>
        </tr>
    }
    </tbody>
</table>